body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  
}

nav {
  height: 300px ;
  background-color: #444444;
  width: 100%;
  background-image: url("../img/bus-3034479__340.png") ;
  background-repeat: no-repeat;
 

}

h1 {
  font-size: 30px; 
  font-family: fantasy;
  padding: 2%;
}

h2 {
  /* controls Results */
  font-size: 28px;
  padding: 2%;
}

p {
  padding:1%;
}

ul {
  display: inline; 
}

li {
  display: inline;
}
nav li{
  padding: 10px 40px;
}
aside {
  width: 40%;
  height: 600px;
  /* display: inline-block; */
  float: left;
  outline-color: #111111;
  outline-style: dotted;
  outline-width: 2px;
  

  /* sizing tool remove once before completion */
  outline-color: #111111;
  outline-style: dotted;
  outline-width: 2px;
}

section {
  display: inline-block;
  width: 60%;
  height: 600px;

  /* sizing tool remove once before completion */
  outline-color: #111111;
  outline-style: dotted;
  outline-width: 2px;
}

footer {
  width: 100%;
  height: 150 px; 
  background-color: #888888;
}

img {
  width: 25%;
  padding-right: 1%;
}

/* img:first-child {
  padding-left: 1%;

} */